html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
   // border: 5px solid #1DA1F2;
    background-color: #ffffff;
    border-radius: 10px;
    //padding: 5px;
    display: flex;
    width: 100%;
    height: 100%;

    .left-side{
        background-image: url("../images/mathias-reding-OBjQZ60jIiQ-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
       
        flex:1 1 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        .header{
            position: relative;
            top: 28%;
            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 3rem;
            color: rgb(255, 255, 255);
            width: 100%;
            padding: 5rem 0px;
            background-color: rgba(36, 36, 36, 0.66);
        }
    }

    



   

    .right-side{
        flex:2 1 0;

        display: flex;
        flex-direction: column;
        gap:3rem;

        .header-top{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:2rem;
            padding: 30px;
            padding-top: 80px;
            padding-bottom: 0;

            .text-up{
                font-size: 1.3rem;
                font-weight: 500;
            }
            .text-bot{
                font-size: 1.4rem;
            }
        }
        .sign-up{
            flex: 0 1 0;
            padding: 20px;
            
            
            
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            box-shadow: 0px 3px 5px -2px rgb(0 0 0 / 50%);
            
            
            
            .header{
                font-size: 1.4rem;
                font-weight: 600;
            }
           

            .forms{
                width: 80%;
                display: grid;
                row-gap: 20px;
                column-gap: 20px;
                grid-template-columns:1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                padding: 30px 0px;


                .form{
                    
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                }
                input{
                    font-size: 1.1rem;
                }
                input:focus{
                    background-color: rgba(246, 237, 255, 0.51);
                    box-shadow: 0px 3px 5px -2px rgb(0 0 0 / 50%);
                }
                input:invalid{
                    background-color: rgba(255, 0, 0, 0.187);
                    border: solid 2px red;
                    border-radius: 3px;
                }

               
                .valid-pass{
                    color: green;
                }
                .invalid-pass{
                    color: red;
                }
            }

            
        }
        .login-wrapper{
            padding: 20px;
            padding-top: 0;
            
            .create-account-button{
                padding: 10px 40px;
                border: solid green 1px;
                width: fit-content;
                background-color: green;
                border-radius: 20px;
                color: white;
            }
            .login{
                margin-top: 15px;
            }
        }
       


    }


}

#result{
    z-index: 100;
    position: fixed;
    width: 900px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-top: -300px; /* Negative half of height. */
    margin-left: -450px; /* Negative half of width. */
    font-size: 4rem;
    background: linear-gradient(90deg, rgba(231,80,182,1) 2%, rgba(41,32,212,1) 100%);
    border-radius: 35px;
    border: 6px solid black;

    .close{
        background-color: green;
        padding: 10px 20px;
        width: 300px;
        border-radius: 20px;
        margin-top: 10%;
    }
    .close:hover{
        border: 2px solid black;
        cursor: pointer;
    }
}
.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cover{
    z-index: 99;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: black;
    opacity: 0.6;
}